<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:extractNativeLibs="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.AppCompat">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <meta-data
            android:name="com.pt.common.moderator.cross.AppGlideModule"
            android:value="AppGlideModule" />

    </application>

</manifest>